/*
    html5doctor.com Reset Stylesheet
    v1.6.1
    Last Updated: 2010-09-17
    Author: Richard Clark - http://richclarkdesign.com
    Twitter: @rich_clark
    */
    html {
        touch-action: manipulation;
    }
    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }
    body {
        line-height:1;
    }
    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section {
        display:block;
    }
    ul {
        list-style:none;
    }
    blockquote, q {
        quotes:none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content:'';
        content:none;
    }
    a {
        margin:0;
        padding:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }
    /* change colours to suit your needs */
    ins {
        background-color:#ff9;
        color:#000;
        text-decoration:none;
    }
    /* change colours to suit your needs */



    /* グローバルスタイル */
body {
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.text-container {
    display: flex;
    flex-wrap: wrap; /* 改行の設定 */
    justify-content: space-between;
    width: 80%;
    max-width: 1200px; /* 最大幅を設定 */
    margin: 0 auto; /* 中央寄せ */
   
}


/* 問題文 */
.question {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: left;
    color: #333;
    width: 50%;
    padding: 0rem;
    position: fixed; /* 固定位置を外す */
    left: 0; /* 左端に固定を外す */
    top: 0; /* 上端に固定を外す */
    white-space: nowrap; /* テキストを一行に制限 */
    z-index: 1; /* 一番上に表示 */
    
}

/* マーカー */
.marker {
    color: #a4aaab;
}

/* テキスト */
.text {
    display: none;
}

/* メッセージ */
.message {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
    color: #ff0000;
}

/* ボタン */
.button {
    margin-top: 10rem;
    font-size: 10rem;
    cursor: pointer;
    background-color: #193f69;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* 要素を非表示にするクラス */
.hidden {
    display: none;
}

/* threeの書式 */
.three {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1; /* この値を調整してHTML要素との重なりを調整 */
    /* その他のスタイルプロパティを追加または変更 */
    width: 50%; /* 3Dコンテンツの幅を調整 */
    height: 100%; /* 3Dコンテンツの高さを調整 */
}

.correct{
    color: #00ff00;
}
.incorrect{
    color: #ff0000;
}
